body{
  text-align: center;
}
#img-div{
  display:flex;
  justify-content:center;
  flex-direction:column;
  margin: 15px ;
}
#image {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 10px auto;
}
.lista{
  background-color:gray;
}
ul{
  max-width:550px;
  margin:0 auto;
  text-align:left;
}
